@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
    font-family: "Poppins", sans-serif;
    scroll-padding-top: $header-height - 1;
}

header {
    box-sizing: border-box;
    @include flex(space-between);
    width: 100%;
    background: nth($backgrounds, 2);
    height: $header-height;
    position: fixed;
    h1 {
        color: $accent-color;
        margin: 0 3rem;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .2rem;
    }
    nav {
        width: 50%;
        @include flex(flex-end);
        a {
            color: $accent-color;
            margin: 0 1.5rem;
            font-size: 1.4rem;
            &:nth-child(3) {
                margin: 0 3rem 0 1.5rem;
            }
        }
    }
}

main {
    padding-top: $header-height;
    min-height: 100vh;
    background: $accent-color;
    .about {
        @include flex(center, center, column);
        width: 100%;
        color: $accent-color;
        background: nth($backgrounds, 1);
        img {
            width: 400px;
            margin: 4rem 3rem 3rem 3rem;
        }
        .bio {
            @include flex(center, center, column);
            p {
                .my-name {
                    color: $secondary;
                }
                font-size: 2rem;
                font-weight: 200;
                line-height: 3rem;
                letter-spacing: 0rem;
                padding: 0 3rem 2.5rem 3rem;
                text-align: center;
            }
            h4 {
                box-sizing: border-box;
                font-size: 2.3rem;
                width: 100%;
                text-align: center;
                padding: 1rem;
                #tech{
                    font-weight: 400;
                    font-size: 2.3rem;
                    padding-left: .8rem;
                    color: $secondary;
                }
            }
            .icons {
                @include flex(center);
                flex-wrap: wrap;
                margin: .5rem auto 1rem auto;
                i {
                    font-size: 4rem;
                    margin: .5rem 1rem 2rem 1rem;
                }
            }
        }
    }
    .projects {
        background: nth($backgrounds, 2);
        &>* {
            box-sizing: border-box;
            padding: 4rem;
            width: 100%;
            @include grid((10rem auto), (repeat(2, minmax(600px, 1000px))), 2rem, 0, ('img title' 'img description'));
            img {
                @include grid-item(center, center, img);
                width: 85%;
                border: 1px black solid;
            }
            .brand {
                width: 300px;
                @include grid-item(center, start, title);
                border: none;
            }
            .description {
                @include grid-item(center, start, description);
                @include flex(center, center, column);
                padding: 1rem 2rem 1rem 0;
                span {
                    font-weight: 700;
                }
                p {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    padding: .6rem 0;
                }
                .links {
                    text-align: center;
                    margin-top: .5rem;
                    a {
                        padding: 1rem;
                        font-size: 1.2rem;
                        line-height: 3rem;
                        white-space: nowrap;
                        color: $accent-color;
                        &:hover {
                            color:$secondary;
                        }
                    }
                }
            }
            h1 {
                @include grid-item(center, start, title);
                font-size: 5rem;
                font-weight: 700;
                text-align: center;
                text-shadow: 1px 1px 1px rgba(0,0,0,.1);
                padding: 2rem 2rem 1rem 2rem;
            }
        }
        .snowmore {
            h1 {
                @include image-text('../images/snowRoad.jpg', 0% 50%);
            }
        }
        .pantry {
            background: $accent-color;
            .description .links {
                a {
                    color: white;
                    &:hover {
                        color:$secondary;
                    }
                }
            }
        }
    }
    .contact {
        height: 1000px;
        background: nth($backgrounds, 1);
    }
}

@media only screen and (max-width: 1200px) {
    main {
        .projects {
            &>* {
                @include flex(center, center, column);
                padding: 2rem 0;
                h1 {
                    padding: 2rem 4rem 4rem 4rem;
                    width: 100%;
                    box-sizing: border-box;
                }
                .brand {
                    margin: 2rem auto 3rem auto;
                }
                .description {
                    margin: 0;
                    margin-top: 2rem;
                    padding: 0 7.5vw;
                    width: 100%;
                    box-sizing: border-box;
                    @include flex(center, center, column);
                    p {
                        margin: 0;
                        padding: 0;
                    }
                    .tools {
                        margin-top: 1.5rem;
                    }
                }
                img {
                    width: 60%;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    header {
        h1 {
            margin: 0 auto;
        }
        nav {
            display: none;
            a {
                margin: 0;
                &:nth-child(3) {
                    margin: 0;
                }
            }
        }
    }

    main {
        .about {
            img {
                width: 80%;
                margin: 3rem;
            }
        }
        .projects {
            &>* {
                img {
                    width: 85%;
                }
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    main {
        .about {
            img {
                margin: 1.5rem;
            }
            .bio {
                p {
                    padding: 0 1.5rem 1.5rem 1.5rem;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

        }
        .projects {
            &>* {
                padding: 1rem 0;
                h1 {
                    padding: 1rem 0 2rem 0;
                }
                .brand {
                    margin: .8rem auto;
                }
                .description {
                    margin-top: .8rem;
                    p {
                        font-size: 1.2rem;
                    }
                    .links {
                        a {
                            font-size: 1rem;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}