@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  scroll-padding-top: 4.7rem;
  font-size: 100%;
}

header {
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background: white;
  height: 5.7rem;
  position: fixed;
}

header h1 {
  margin: 0 48px;
}

header h1 a {
  color: #b0bdfd;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;
}

header h1 a:hover {
  color: #ffcd71;
}

header nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav a {
  color: #b0bdfd;
  margin: 0 24px;
  font-size: 1.4rem;
}

header nav a:nth-child(3) {
  margin: 0 48px 0 24px;
}

header nav a:hover {
  color: #ffcd71;
}

main {
  padding-top: 5.7rem;
  min-height: 100vh;
  background: #b0bdfd;
}

main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #b0bdfd;
  background: black;
}

main .about img {
  width: 400px;
  margin: 64px 48px 48px 48px;
}

main .about .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .about .bio p {
  font-size: 2rem;
  font-weight: 200;
  line-height: 3rem;
  letter-spacing: 0rem;
  padding: 0 48px 40px 48px;
  text-align: center;
}

main .about .bio p .my-name {
  color: #ffcd71;
}

main .about .bio h4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2.3rem;
  width: 100%;
  text-align: center;
  padding: 16px;
}

main .about .bio h4 #tech {
  font-weight: 400;
  font-size: 2.3rem;
  padding-left: 12px;
  color: #ffcd71;
}

main .about .bio .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 8px auto 16px auto;
}

main .about .bio .icons i {
  font-size: 4rem;
  margin: 8px 16px 32px 16px;
}

main .about .bio .icons .iconify {
  height: auto;
  width: 57px;
  margin: 8px 16px 32px 16px;
  z-index: 1;
}

main .projects {
  background: white;
}

main .projects > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 64px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  -ms-grid-columns: (minmax(600px, 1000px))[2];
      grid-template-columns: repeat(2, minmax(600px, 1000px));
      grid-template-areas: "img title" "img description";
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 0;
}

main .projects > * img, main .projects > * video {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  width: 85%;
  border: 1px black solid;
}

main .projects > * .brand {
  width: 18rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  border: none;
}

main .projects > * .description {
  justify-self: center;
  -ms-flex-item-align: start;
      align-self: start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: description;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 32px 16px 0;
}

main .projects > * .description span {
  font-weight: 700;
}

main .projects > * .description p {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 9px 0;
}

main .projects > * .description .links {
  text-align: center;
  margin-top: 8px;
}

main .projects > * .description .links a {
  padding: 16px;
  font-size: 1.2rem;
  line-height: 3rem;
  white-space: nowrap;
  color: #b0bdfd;
}

main .projects > * .description .links a:hover {
  color: #ffcd71;
}

main .projects > * h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 32px 32px 16px 32px;
}

main .projects .kudosu h1 {
  color: transparent;
  background-image: url("../images/sudoku-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 0 rgba(0, 0, 0, 0.4);
}

main .projects .pantry .description .links a {
  color: white;
}

main .projects .pantry .description .links a:hover {
  color: #ffcd71;
}

main .projects .covid h1 {
  color: transparent;
  background-image: url("../images/covid.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 150%;
  background-clip: text;
  -webkit-background-clip: text;
}

main .projects .project:nth-child(2) {
  background: #b0bdfd;
}

main .contact {
  padding: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

main .contact > * {
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  text-align: center;
}

main .contact h1 {
  font-size: 3rem;
  margin: 0 auto;
  margin-bottom: 16px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

main .contact p {
  font-size: 1.5rem;
}

main .contact p a {
  color: #b0bdfd;
}

main .contact p a:hover {
  color: #ffcd71;
}

main .contact .direct-contact .icon-only {
  display: none;
  font-size: 2rem;
  color: #b0bdfd;
}

main .contact .direct-contact .icon-only:hover {
  color: #ffcd71;
}

main .contact .direct-contact > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
}

main .contact .social-media a {
  font-size: 3rem;
  margin: 0 16px;
}

@media only screen and (max-width: 1200px) {
  main .projects > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 0;
  }
  main .projects > * h1 {
    padding: 32px 64px 64px 64px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main .projects > * .brand {
    margin: 32px auto 48px auto;
  }
  main .projects > * .description {
    margin: 0;
    margin-top: 32px;
    padding: 0 7.5vw;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .projects > * .description p {
    margin: 0;
    padding: 0;
  }
  main .projects > * .description .tools {
    margin-top: 24px;
  }
  main .projects > * img, main .projects > * video {
    width: 60%;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 750px) {
  header h1 {
    margin: 0 auto;
  }
  header nav {
    display: none;
  }
  header nav a {
    margin: 0;
  }
  header nav a:nth-child(3) {
    margin: 0;
  }
  main .about img {
    width: 80%;
    margin: 48px;
  }
  main .projects > * img, main .projects > * video {
    width: 85%;
  }
}

@media only screen and (max-width: 560px) {
  main .about img {
    margin: 24px;
  }
  main .about .bio p {
    padding: 0 24px 24px 24px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  main .projects > * {
    padding: 16px 0;
  }
  main .projects > * h1 {
    padding: 16px 0 32px 0;
  }
  main .projects > * .brand {
    margin: 12px auto;
  }
  main .projects > * .description {
    margin-top: 12px;
  }
  main .projects > * .description p {
    font-size: 1.2rem;
  }
  main .projects > * .description .links a {
    font-size: 1rem;
    white-space: nowrap;
  }
  main .contact {
    padding: 40px;
  }
  main .contact .direct-contact p {
    display: none;
  }
  main .contact .direct-contact .icon-only {
    display: inline;
  }
}
/*# sourceMappingURL=style.css.map */